{:paths ["src" "resources"]
 :deps {lilactown/helix {:mvn/version "0.1.5"}}
 :aliases {:repl
           {:extra-deps {org.clojure/clojurescript
                         {:mvn/version "LATEST"}}}
           :release
           {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
            :main-opts ["-m" "applied-science.deps-library"]}}}
