.town_lilac_view-edn__view [role="treeitem"]::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
  
    vertical-align: middle;
    margin-right: .4rem;
    margin-left: .2rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
}

.town_lilac_view-edn__view [role="treeitem"][aria-expanded="true"]::before {
    transform: rotate(90deg) translateX(-3px);
}

.town_lilac_view-edn__view {
    font-family: monospace;
    font-size: 1rem;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

ul[role="tree"].town_lilac_view-edn__view,
ul[role="group"].town_lilac_view-edn__view {
    margin: 0;
    padding: 0;
    list-style: none;
}

.town_lilac_view-edn__view [role="treeitem"] {
    display: block;
}

.town_lilac_view-edn__view [role="treeitem"] > ul {
    display: inline-flex;
}

.town_lilac_view-edn__view > [role="treeitem"][aria-expanded="true"] > ul {
    display: block;
}

.town_lilac_view-edn__map_begin {
    font-size: 1rem;
}

.town_lilac_view-edn__map_end {
    font-size: 1rem;
}

.town_lilac_view-edn__list_begin {
    font-size: 1rem;
}

.town_lilac_view-edn__list_end {
    font-size: 1rem;
}